@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {

    /* Variáveis para a pelata de corres do site */

    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html {

    font-size: 16px;
}

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans', 'sans-serif';
    background-color: var(--cor-clara);

}

/* CSS reset de alguns elementos */
body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;

}

img {
    max-width: 100%;
}

h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;


}

h1 a {
    color: var(--cor-clara);
    background-color: var(--cor-escura);
    padding: .3rem 1rem;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

/* classe só do limitador header */
header .limitador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
}

header {


    /* deixar fixamente no inicio quando se rola a página */
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
}



/* Formatação da palavra Menu */

nav h2 a {

    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover,
nav h2 a:focus,
.menu a:hover,
.menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* Usamos display:none; para não exibir a lista de links */
.menu {
    list-style: none;
    display: none;
}

/* Regra para formatar os links contidos na lista/menu */
.menu a {
    color: var(--cor-escura);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    /* Mini-exercício */

    /* Faça as seguintes alterações: 
1- Cor do texto escura
2- Negrito
3- flex com centralização total
4- altura de 50px  */
}

/* Seletor de classes combinadas 
Esta regra somente irá funcionar quando as Duas Classes estiverem aplicadas Juntas no elemento HTML (No caso, na lista de menu/links).

OBS.: Esta combinação será possível por meio da manipulação programada com JavaScript.*/

.menu.aberto {
    /* O Flex fará alista de links aparecer */

    display: flex;
    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;
    background-color: var(--cor-clara);

    position: absolute;
    left: 0;
    right: 0;
}

.destaque {
    height: 88vh;
    background: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.destaque h2,
.destaque p {
    color: var(--cor-clara);
    text-align: center;
    animation-name: animaDestaque;
    animation-duration: 3s;
    /* animation-timing-function: ease-out; */
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

/* css 3 CLAMP (Tem forma responsiva)- clamp(recebe,
tamanho mínimo,
tamanho ideal,
tamanho máximo) */


.destaque h2 {

    font-size: clamp(3rem, 10vw, 7rem);

}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

/* Regras de animação */

@keyframes animaDestaque {

    from {
        opacity: 0;
        transform: translateY(-500px);
    }

    to {
        opacity: 1;
    }

}

article h2 {

    padding: 1rem;
    font-size: 1.5rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo);
}

.front-end,
.historia,
.localizacao {

    text-align: center;

}

article p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

abbr {
    text-decoration: none;
}

address {
    font-style: normal;
}

.historia {

    background: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;

}

.historia h2 {
    color: white;
    text-shadow: 0.2em 0.5em 0.1em #600,
        -0.3em 0.1em 0.1em #060,
        0.4em -0.3em 0.1em #006;
}

/* seletor descendente */
.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.limitador {
    width: 95vw;
    margin: auto;

}

footer {

    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 30vh;
    font-style: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 1- Crie uma regra condicional para telas a partir de 570px

Com as seguintes alterações:
Esconder a palavra Menu

- Habilitar o flex para a classe " menu"

- Definir largura de 100% para os itens dentro do "menu"*/
/*- Definir largura de 70% para o nav

Reduzir par 200px a altura da imagem contida no artigo Front-End*/

/* 2- Crie uma regra condicional para telas a partir de 900px  com as seguintes alterações

-Aumentar o tamanho geral de todos os textos para 18px (definir tamanho no html)
- Definir o tamanho máximo da classe limitador para 1000px;

*/
@media screen and (min-width: 570px) {

    /* esconder a palavra menu a partir de 570px */
    header h2 {
        display: none;
    }

    /* Habilitar o flex para a classe " menu" */
    .menu {
        display: flex;
    }

    /* itens dentro da classe menu largura 100% */
    .menu li {
        width: 100%;
    }

    /* Definir largura de 70% para o nav */
    nav {
        width: 70%;
    }

    /* Reduzir par 200px a altura da imagem contida no artigo Front-End*/
    */ .front-end img {
        height: 150px;
    }

}

/* Crie uma regra condicional para telas a partir de 900px  com as seguintes alterações */

@media screen and (min-width: 900px) {
    html {font-size: 18px;
        /* Aumentar o tamanho geral de todos os textos para 18px */
      
    }

}

/* Definir o tamanho máximo da classe limitador para 1000px; */
@media screen and (max-width: 900px) {
    limitador {max-width: 1000px;}
}